<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="advertises">angular.dev (p.2)</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a ui-sref="advertises"><i class="fa fa-list fa-lg"></i><span>&nbsp; Каталог</span></a>
                </li>
                <li>
                    <a ui-sref="advertise({id:'new'})"><i class="fa fa-plus-circle fa-lg"></i><span>&nbsp; Подать объявление</span></a>
                </li>
                <li>
                    <a ui-sref="advertise({id:'new'})"><i class="fa fa-plus-circle fa-lg"></i><span>&nbsp; Мои объявления</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Зарегистрироваться</a></li>
                <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Войти</a></li>
            </ul>
        </div>
    </div>
</nav>